.new {
 width: 400px;
  margin: 20px auto;         
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fffafb;
  text-align: center;     
}
.new2 {
  border: 10px solid black;      
  padding: 20px;               
  margin:20px;                 
  background-color: #f0f0f0;   
  width: 200px;               
  border-radius: 70px;  
     
}
.new3 {
  border: 10px solid black;     
  padding: 20px;               
  margin: 20px;                 
  background-color: #f0f0f0;   
  width: 200px;               
  border-radius: 70px;      
}
.new4 {
  border: 10px solid black;     
  padding: 20px;               
  margin: 20px;                 
  background-color: #f0f0f0;   
  width: 200px;               
  border-radius: 70px;      
}
.new5 {
  border: 10px solid black;     
  padding: 20px;               
  margin: 20px;                 
  background-color: #f0f0f0;   
  width: 200px;               
  border-radius: 70px;      
}
